---
layout: default
permalink: /
---

<main id="content">

    <section id="datasets" class="secondary-color introduction scrollto">
        <div class="row clearfix">
            <div class="col-3">
                <div class="section-heading">
                    <h3 style="color: #999">WFCOMMONS DATASETS</h3>
                    <h2 class="section-title">Workflow Datasets</h2>
                    <p class="section-subtitle" style="color: #444">
                        WfCommons provides curated datasets of production workflow
                        specifications and executions, and a tool to explore these datasets.
                    </p>
                </div>
            </div>

            <div class="col-2-3">
                <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
                    <div class="icon-block-description">
                        <h4><img src="/images/wfcommons-green-leaf.png" style="width: 1em; vertical-align: middle;" />
                            &nbsp;&nbsp;<span style="color: #999">WF</span>INSTANCES</h4>
                        <p>Repository of <b>workflow instances</b> in JSON. A <b>browser application</b> to easily
                            filter, select, download, visualize, and simulate the execution of the workflow instances in
                            the repository
                        <p>
                            <a href="https://github.com/wfcommons/wfinstances" target="_blank" class="button"><span
                                    style="color: #999">WF</span>INSTANCES Repo &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a><br />
                            <a href="https://wfinstances.ics.hawaii.edu" target="_blank" class="button"><span
                                    style="color: #999">WF</span>INSTANCES Browser </a>
                        </p>
                    </div>
                </div>

                <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
                    <div class="icon-block-description">
                        <h4><img src="/images/wfcommons-lgreen-leaf.png" style="width: 1em; vertical-align: middle;" />
                            &nbsp;&nbsp;<span style="color: #999">WF</span>FORMAT</h4>
                        <p>A <b>JSON schema</b> used to describe workflow instances</p>
                        <a href="https://github.com/wfcommons/WfFormat" target="_blank" class="button"><span
                                style="color: #999">WF</span>FORMAT Schema</a>&nbsp;&nbsp;
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="framework" class="scrollto">
        <div class="row clearfix">
            <div class="col-3">
                <div class="section-heading">
                    <h3>WFCOMMONS FRAMEWORK</h3>
                    <h2 class="section-title">Workflow Analysis and Development</h2>
                    <p class="section-subtitle" style="color: #666">The WfCommons Framework is a Python package that
                        provides tools to
                        analyze and use workflow instances. </p>
                    <a href="https://docs.wfcommons.org" target="_blank"
                        class="button">DOCUMENTATION&nbsp;&nbsp;&nbsp;</a><br />
                    <a href="https://github.com/wfcommons/wfcommons" target="_blank" class="button">CODE ON GITHUB <i
                            class="fa fa-github"></i></a>&nbsp;&nbsp;

                    <div style="line-height: 1.8em;">
                        <a href="https://badge.fury.io/py/wfcommons" target="_blank">
                            <img src="https://badge.fury.io/py/wfcommons.svg" />
                        </a><br />
                        <a href="https://pepy.tech/project/wfcommons" target="_blank">
                            <img
                                src="https://static.pepy.tech/personalized-badge/wfcommons?period=total&units=international_system&left_color=grey&right_color=yellow&left_text=Downloads" />
                        </a><br />
                        <a href="https://github.com/wfcommons/wfcommons/blob/master/LICENSE" target="_blank"
                            style="border-bottom: 0">
                            <img src="https://img.shields.io/badge/License-LGPL%20v3-blue.svg" />
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-2-3">
                <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                    <div class="icon-block-description">
                        <h4><img src="/images/wfcommons-purple-leaf.png" style="width: 1em; vertical-align: middle;" />
                            &nbsp;&nbsp;<span style="color: #999">WF</span>CHEF</h4>
                        <p>Automatically create synthetic workflow generators, called <b>recipes</b>, by analyzing
                            real workflows to uncover
                            task patterns and performance characteristics</p>
                    </div>
                </div>

                <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                    <div class="icon-block-description">
                        <h4><img src="/images/wfcommons-orange-leaf.png" style="width: 1em; vertical-align: middle;" />
                            &nbsp;&nbsp;<span style="color: #999">WF</span>GEN</h4>
                        <p>Use recipes to automatically generate realistic <b>synthetic workflow instances</b> of
                            arbitrary scales</p>
                    </div>
                </div>
            </div>

            <div class="col-2-3">
                <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                    <div class="icon-block-description">
                        <h4><img src="/images/wfcommons-lblue-leaf.png" style="width: 1em; vertical-align: middle;" />
                            &nbsp;&nbsp;<span style="color: #999">WF</span>BENCH</h4>
                        <p>Produce <b>workflow benchmarks</b> based on synthetic workflow instances, with configurable
                            performance characteristics, that can be executed using production workflow runtime systems
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="publications" class="secondary-color text-center scrollto clearfix ">
        <div class="row clearfix" style="display: flex; flex-wrap: wrap;">
            <div class="col-1">
                <div class="section-heading">
                    <h3>RESEARCH PUBLICATIONS</h3>
                    <h2 class="section-title">Research Papers, Journal Articles, and Technical Reports</h2>
                </div>
                <div>
                    <strong style="font-size: 1.25em;">Citing WfCommons</strong>
                    <p>
                        When citing WfCommons, please use the following paper, which
                        provides a general overview on the framework.
                    </p>
                    <pre>T. Coleman, H. Casanova, L. Pottier, M. Kaushik, E. Deelman, and R. Ferreira da Silva, "WfCommons: A Framework for Enabling Scientific Workflow Research and Development," Future Generation Computer Systems, vol. 128, pp. 16-27, 2022. DOI: 10.1016/j.future.2021.09.043</pre>
                    <pre>
@article{wfcommons,
    title   = { {WfCommons: A Framework for Enabling Scientific Workflow Research and Development} },
    author  = {Coleman, Tain\~a and Casanova, Henri and Pottier, Lo\"ic and Kaushik, Manav and Deelman, Ewa and Ferreira da Silva, Rafael},
    journal = {Future Generation Computer Systems},
    volume  = {128},
    number  = {},
    pages   = {16--27},
    doi     = {10.1016/j.future.2021.09.043},
    year    = {2022},
}</pre>
                </div>
            </div>
            {% if site.data.publications.size > 0 %}
            {% for n in site.data.publications %}
            <div class="pricing-block wow fadeInUp" data-wow-delay="0.4s">
                <div class="pricing-block-content"
                    style="padding: 0; display: flex; max-width: 380px; min-width: 380px; margin: 1em 1em">
                    <p><a href="{{ n.url }}" target="_blank" class="pub">{{ n.title }}</a>,
                        {{ n.authors }}, {{ n.description }},
                        doi: <a href="http://dx.doi.org/{{ n.doi }}" target="_blank" class="pub">{{ n.doi }}</a>
                    </p>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>

    </section>

    {% assign total_usage = site.data.usages | size %}
    <section id="usage" class="scrollto clearfix">
        <div class="row clearfix">

            <div class="col-3">

                <div class="section-heading">
                    <h3>THEY USE WFCOMMONS</h3>
                    <h2 class="section-title">Research Outcomes Enabled by WfCommons</h2>
                    <p class="section-subtitle">
                        WfCommons has enabled research in <strong>{{ total_usage }} research articles.</strong>
                        These
                        articles include research outcomes produced by our own team as well as other researchers
                        from
                        the workflows community.
                    </p>
                </div>

            </div>

            <div class="col-2-3">
                <canvas id="usageChart" style="max-height: 23em; max-width: 100%"></canvas>
            </div>
            <p>&nbsp;</p>

            <div class="row clearfix" style="display: flex; flex-wrap: wrap; margin-top: 0; padding-top: 0;">
                {% assign usages = site.data.usages | sort: "year" | reverse %}
                {% for n in usages %}
                <div class="pricing-block col-3 wow fadeInUp" data-wow-delay="0.4s" style="display: flex;">
                    <div>
                        <p class="pricing-sub" style="margin: 0">
                            {{n.authors}}, <strong><a href="{{n.link}}" target="_blank">{{n.title}}</a></strong>,
                            {{n.book}}, {{n.year}}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js"></script>

    <script type="text/javascript">
        let entries = [
            {% assign usages = site.data.usages | sort: "year" %}
        {% for n in usages %}
        {
            year: "{{n.year}}",
                type: "{{n.type}}"
        },
        {% endfor %}
        ]
        let data = {
            labels: [],
            datasets: [],
        }
        let datasetTypes = ["Journal", "Conference", "Workshop", "PhD Thesis", "Report"];
        let datasetColors = ["#A7226E", "#EC2049", "#F7DB4F", "#F26B38", "#2F9599", "#547980", "#FF8C94"];
        for (let i = 0; i < datasetTypes.length; i++) {
            data.datasets.push({
                label: datasetTypes[i],
                backgroundColor: datasetColors[i],
                data: []
            });
        }
        for (let i = 0; i < entries.length; i++) {
            if (!data.labels.includes(entries[i].year)) {
                data.labels.push(entries[i].year);
                for (let j = 0; j < datasetTypes.length; j++) {
                    data.datasets[j].data.push(0);
                }
            }
            let index = datasetTypes.indexOf(entries[i].type);
            data.datasets[index].data[data.labels.indexOf(entries[i].year)]++;
        }
        console.log(data);
        let ctx = document.getElementById("usageChart");
        new Chart(ctx, {
            type: 'bar',
            data: data,
            options: {
                scales: {
                    y: {
                        stacked: true,
                        title: {
                            display: true,
                            text: '# Usages in Research Outcomes'
                        }
                    },
                    x: {
                        stacked: true,
                        title: {
                            display: true,
                            text: 'Years'
                        }
                    }
                },
                chartArea: {
                    backgroundColor: "#FEF8F8"
                },
                tooltips: {
                    position: 'nearest',
                    mode: 'point',
                    intersect: 'false'
                }
            }
        });
    </script>
</main>
