<section id="footer">
    <p class="copyright">
        <span style="font-size: 1.2em">&copy;{{ site.time | date: '%Y' }} WfCommons.org</span>
        <br/>
        <a href="mailto:support@wfcommons.org">support@wfcommons.org</a>
        <br/><br/>
        Mainly developed by:<br/><br/>
        <a href="https://www.ics.hawaii.edu" target="_blank" style="border: 0">
            <img src="/images/logo-uhm.png" style="height: 5em" alt="UHM"/>
        </a>
        &nbsp;&nbsp;
        <a href="https://www.ornl.gov/group/dlsw" target="_blank" style="border: 0">
            <img src="/images/logo-ornl.png" style="height: 4em" alt="ORNL"/>
        </a>
    </p>
</section>
