<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
    <div id="header" class="nav-collapse">
        <div class="row clearfix">
            <div class="col-1">

                <!--Logo-->
                <div id="logo">

                    <!--Logo that is shown on the banner-->
                    <img width="100%" src="images/wfcommons-horizontal.png" id="banner-logo" alt="Landing Page" />
                    <!--End of Banner Logo-->

                    <!--The Logo that is shown on the sticky Navigation Bar-->
                    <img width="100%" src="images/wfcommons-horizontal.png" id="navigation-logo" alt="Landing Page" />
                    <!--End of Navigation Logo-->

                </div>
                <!--End of Logo-->

                <!--Main Navigation-->
                <nav id="nav-main">
                    <ul>
                        <li>
                            <a href="#banner">Home</a>
                        </li>
                        <li>
                            <a href="#framework">Framework</a>
                        </li>
                        <li>
                            <a href="#publications">Publications</a>
                        </li>
                        <li>
                            <a href="#usage">They Use WfCommons</a>
                        </li>
                        <li>
                            <a href="https://github.com/wfcommons/wfcommons" target="_blank" style="font-size: 1.25em"
                                title="GitHub">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                        <!-- <li>
                            <a href="#testimonials">Testimonials</a>
                        </li>
                        <li>
                            <a href="#clients">Clients</a>
                        </li>
                        <li>
                            <a href="#pricing">Pricing</a>
                        </li> -->
                    </ul>
                </nav>
                <!--End of Main Navigation-->

                <div id="nav-trigger"><span></span></div>
                <nav id="nav-mobile"></nav>

            </div>
        </div>
    </div><!--End of Header-->

    <!--Banner Content-->
    <div id="banner-content" class="row clearfix">

        <div class="col-1">

            <div class="section-heading">
		    <!--
                <h1 style="text-transform: uppercase; font-size: 2.4em; line-height: 1.2em;">Empowering scientific workflow research</h1>
		    -->

                <h2>WfCommons seeks to foster <strong>scientific workflow research and development</strong>. It provides open-source datasets of scientific workflow instances and tools for exploring these datasets, for generating synthetic workflow instance, and for producing executable workflow benchmarks. The end-goal is to enable the development of new techniques and runtime systems for the efficient execution of scientific workflows on complex distributed infrastructures.</h2>
            </div>

        </div>
    </div><!--End of Row-->
    <div class="col-1-alt">
 	{% include wfcommons-concept-clickable.svg %}
    </div>

</header>

