<!-- Menu -->
<section id="menu">

    <!-- Links -->
    <section>
        <ul class="links">
            <li>
                <h3>Framework</h3>
                <a href="/format">
                    <h3>WfFormat</h3>
                </a>
                <a href="/instances">
                    <h3>WfInstances</h3>
                </a>
                <a href="/generator">
                    <h3>WfGen</h3>
                </a>
                <a href="/simulation">
                    <h3>WfSim</h3>
                </a>
            </li>
            <li>
                <a href="https://docs.wfcommons.org">
                    <h3>Documentation</h3>
                    <p>WfCommons documentation</p>
                </a>
            </li>
            <li>
                <a href="/contribute">
                    <h3>Contribute</h3>
                    <p>Contribute workflow instances, simulators, etc.</p>
                </a>
            </li>
            <li>
                <a href="/publications">
                    <h3>Publications</h3>
                    <p>Scientific Papers, Journals, Posters, and Technical Papers</p>
                </a>
            </li>
            <li>
                <a href="/usages">
                    <h3>They use WfCommons</h3>
                    <p>Projects and publications that use WfCommons</p>
                </a>
            </li>
        </ul>
    </section>

    <!-- Actions -->
<!--    <section>-->
<!--        <ul class="actions stacked">-->
<!--            <li><a href="#" class="button large fit">Log In</a></li>-->
<!--        </ul>-->
<!--    </section>-->

</section>
