<!-- Menu -->
<section id="menu">

    <!-- Search -->
<!--    <section>-->
<!--        <form class="search" method="get" action="#">-->
<!--            <input type="text" name="query" placeholder="Search"/>-->
<!--        </form>-->
<!--    </section>-->

    <!-- Links -->
    <section>
        <ul class="links">
            <li>
                <a href="/research">
                    <h3>Research</h3>
                    <p>Our Research Interests</p>
                </a>
            </li>
            <li>
                <a href="/projects">
                    <h3>Projects</h3>
                    <p>Current and Past Research Projects</p>
                </a>
            </li>
            <li>
                <a href="/software">
                    <h3>Software</h3>
                    <p>Tools for supporting Scientific Computing Research and Development</p>
                </a>
            </li>
            <li>
                <a href="/publications">
                    <h3>Publications</h3>
                    <p>Scientific Papers, Journals, Posters, and Technical Papers</p>
                </a>
            </li>
            <li>
                <a href="/people">
                    <h3>People</h3>
                    <p>Researchers, Developers, Staff, and Students</p>
                </a>
            </li>
        </ul>
    </section>

    <!-- Actions -->
<!--    <section>-->
<!--        <ul class="actions stacked">-->
<!--            <li><a href="#" class="button large fit">Log In</a></li>-->
<!--        </ul>-->
<!--    </section>-->

</section>
