<section id="sidebar">

    <!-- Intro -->
    <section id="intro">
        <a href="/" class="logo"><img src="/images/wfcommons-vertical.png" alt=""/></a>
        <header>
            <h2>Community Framework for Enabling Scientific Workflow Research and Development</h2>
        </header>
    </section>

    <!-- Mini Posts -->
    <section>
        <div class="mini-posts">

            <article class="mini-menu">
                <ul>
                    <li><a href="/traces"><img src="/images/wfcommons-green-leaf.png"/> WfTraces</a></li>
                    <li><a href="/traces"><img src="/images/wfcommons-orange-leaf.png"/> WfGenerator</a></li>
                    <li><a href="/traces"><img src="/images/wfcommons-red-leaf.png"/> WfSimulators</a></li>
                </ul>
            </article>

<!--            &lt;!&ndash; Mini Post &ndash;&gt;-->
<!--            <article class="mini-post">-->
<!--                <header>-->
<!--                    <h3><a href="single.html">Rutrum neque accumsan</a></h3>-->
<!--                    <time class="published" datetime="2015-10-19">October 19, 2015</time>-->
<!--                    <a href="#" class="author"><img src="images/avatar.jpg" alt=""/></a>-->
<!--                </header>-->
<!--                <a href="single.html" class="image"><img src="images/pic05.jpg" alt=""/></a>-->
<!--            </article>-->

<!--            &lt;!&ndash; Mini Post &ndash;&gt;-->
<!--            <article class="mini-post">-->
<!--                <header>-->
<!--                    <h3><a href="single.html">Odio congue mattis</a></h3>-->
<!--                    <time class="published" datetime="2015-10-18">October 18, 2015</time>-->
<!--                    <a href="#" class="author"><img src="images/avatar.jpg" alt=""/></a>-->
<!--                </header>-->
<!--                <a href="single.html" class="image"><img src="images/pic06.jpg" alt=""/></a>-->
<!--            </article>-->

<!--            &lt;!&ndash; Mini Post &ndash;&gt;-->
<!--            <article class="mini-post">-->
<!--                <header>-->
<!--                    <h3><a href="single.html">Enim nisl veroeros</a></h3>-->
<!--                    <time class="published" datetime="2015-10-17">October 17, 2015</time>-->
<!--                    <a href="#" class="author"><img src="images/avatar.jpg" alt=""/></a>-->
<!--                </header>-->
<!--                <a href="single.html" class="image"><img src="images/pic07.jpg" alt=""/></a>-->
<!--            </article>-->

        </div>
    </section>

    <!-- Posts List -->
<!--    <section>-->
<!--        <ul class="posts">-->
<!--            <li>-->
<!--                <article>-->
<!--                    <header>-->
<!--                        <h3><a href="single.html">Lorem ipsum fermentum ut nisl vitae</a></h3>-->
<!--                        <time class="published" datetime="2015-10-20">October 20, 2015</time>-->
<!--                    </header>-->
<!--                    <a href="single.html" class="image"><img src="images/pic08.jpg" alt=""/></a>-->
<!--                </article>-->
<!--            </li>-->
<!--            <li>-->
<!--                <article>-->
<!--                    <header>-->
<!--                        <h3><a href="single.html">Convallis maximus nisl mattis nunc id lorem</a></h3>-->
<!--                        <time class="published" datetime="2015-10-15">October 15, 2015</time>-->
<!--                    </header>-->
<!--                    <a href="single.html" class="image"><img src="images/pic09.jpg" alt=""/></a>-->
<!--                </article>-->
<!--            </li>-->
<!--            <li>-->
<!--                <article>-->
<!--                    <header>-->
<!--                        <h3><a href="single.html">Euismod amet placerat vivamus porttitor</a></h3>-->
<!--                        <time class="published" datetime="2015-10-10">October 10, 2015</time>-->
<!--                    </header>-->
<!--                    <a href="single.html" class="image"><img src="images/pic10.jpg" alt=""/></a>-->
<!--                </article>-->
<!--            </li>-->
<!--            <li>-->
<!--                <article>-->
<!--                    <header>-->
<!--                        <h3><a href="single.html">Magna enim accumsan tortor cursus ultricies</a></h3>-->
<!--                        <time class="published" datetime="2015-10-08">October 8, 2015</time>-->
<!--                    </header>-->
<!--                    <a href="single.html" class="image"><img src="images/pic11.jpg" alt=""/></a>-->
<!--                </article>-->
<!--            </li>-->
<!--            <li>-->
<!--                <article>-->
<!--                    <header>-->
<!--                        <h3><a href="single.html">Congue ullam corper lorem ipsum dolor</a></h3>-->
<!--                        <time class="published" datetime="2015-10-06">October 7, 2015</time>-->
<!--                    </header>-->
<!--                    <a href="single.html" class="image"><img src="images/pic12.jpg" alt=""/></a>-->
<!--                </article>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </section>-->

    <!-- About -->
    <section class="blurb">
        <h2>Our Vision</h2>
        <p>
            The SciTech research group aims to empower the <strong>scientific community</strong> by tightening the
            relations between the domain scientists and current computational resources. As a result, scientists can
            focus on their research questions, while our open-source tools provide the computational foundations to
            seamlessly run their experiments and analyses in local and <strong>distributed resources</strong>.
        </p>
<!--        <ul class="actions">-->
<!--            <li><a href="#" class="button">Learn More</a></li>-->
<!--        </ul>-->
    </section>

    {% include footer.html %}

</section>
